@model IEnumerable<User>
<div class="container">
    <h3 class="text-center manageTile">User Manament</h3>
    <a asp-controller="Home" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
    <a asp-controller="Blog" asp-action="Index" class="btn btn-outline-success float-right h3 m-2">Create Blog</a>
    <a asp-controller="User" asp-action="ManageUser" class="btn btn-outline-primary float-right h3 m-2">UserManage</a>
    <hr>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="h4">
                <th>UserName</th>

                <th>Email</th>

                <th>isAdmin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.isAdmin</td>
                    <td> <a asp-area="" asp-controller="User" asp-action="Delete" asp-route-Id="@item.Username"
                        class="btn btn-danger">Delete</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>