<section class="About container m-auto">
    <div class="main-intro row">
        <h1 class="mx-auto text-center col-sm-12" style="font-size: 13vw; color: #444444;">A<span>Bou</span>t.</h1>
        <div class="left col-sm-6"><img class="imageAbout" src="~/image/MyAvatar.jpg" alt=""></div>
        <div class="right col-sm-6">
            <span>
                <p>I'M DANG BANG</p>
            </span>
            <h1 class="font-weight-bold">I am a Blogger & Developer Based in VietNam</h1>

            <div class="item-card">
                <div class="card" style="width: 30rem;">
                    <div class="row card-body">
                        <div class="col-sm-3">
                            <i><img class="iconsAbout" src="~/image/notepad.png" alt=""></i>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="card-title text-dark font-weight-bold">Writter & Blogger</h4>
                            <span>
                                <p style="font-size: 20px;">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                            </span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div class="card" style="width: 30rem;">
                    <div class="row card-body">
                        <div class="col-sm-3">
                            <i><img class="iconsAbout" src="~/image/coding.png" alt=""></i>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="card-title text-dark font-weight-bold">Developer</h4>
                            <span>
                                <p style="font-size: 20px;">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind texts.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
