@{
    ViewData["Title"] = "Home Page";
}

<section class="intro container">
    <span class="intro-blog ml-5 h4">A personal <a href="#about" class="">blog</a></span>
    <h1 class="mx-auto text-center" style="font-size: 13vw; color: #444444;">B<span>Blo</span>g.</h1>
    <span class="intro-info float-right mb-5 mt-4 h3" style="color: #919191;">I am a Blogger & Photographer Based in Philippines</span>
</section>

<section class="container-fluid row m-5 p-5">
    <div class="main-Blog  row">
        <div class="col-md-7 mt-5"><img class="imageBlog" src="~/image/ImageBlog.jpg" alt=""></div>
        <div class="col-md-5 mt-5" style="line-height: 200%;">
            <span class="h5"><i class="fa fa-user me-1"></i> Admin <i class="fa fa-calendar me-1"></i> Time <i
                    class="fa fa-comment me-1"></i> Comment</span>
            <h1 class="font-weight-bold" style="font-size: 5vw"><a href="">Writing A Novel with A Heart</a></h1>
            <p class="h4" style="color: #999999;line-height: 1.6">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.</p>
            <button class="btn-custom h5">LEARN MORE</button><i class="fa fa-arrow-right text-primary"></i>
        </div>
    </div>
</section>
