@model BlogInfo

<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<section class="container-fluid CreateBlog">
    <form asp-action="CreateBlog" method="post" enctype="multipart/form-data">
        <br>
        <h1 class="text-center">Classic editor</h1>
        <div class="container">
            <h3>Title</h3>
            <input class="mb-3" type="text" id="BlogTitle" asp-for="BlogTitle">
            <h3>Banner</h3>
            <input class="file-info mb-3" type="file" accept=".png,.jpg" name="imageFile">
            <div class="form-group">
                    <textarea type="text" class="form-control" aria-describedby="NameHelp"
                        placeholder="Enter Content" asp-for="BlogContent"></textarea> 
                    <small class="form-text text-muted">Enter your Blog content</small>
                    <span asp-validation-for="BlogContent" class="text-danger"></span>
            </div>
            <div class="text-center mt-4">
            <button class="btn btn-light-blue btn-primary font-weight-bold btn-summit" style="background-color: #F4BF2C;">Submit</button>
          </div>
        </div>

    </form>
</section>
    <script>
        ClassicEditor
            .create( document.querySelector( '#BlogContent' ) )
            .catch( error => {
                console.error( error );
            });
    </script>
